---
import "vuetify/styles";
import App from "@/layouts/App.vue";
import Layout from "@/layouts/Layout.astro";

export const prerender = false;
---

<Layout>
    <div id="app">
        <noscript>
            <h1>JavaScript is disabled</h1>
            <p>
                This application requires JavaScript to run. Please enable JavaScript to
                continue.
            </p>
        </noscript>
        <style>
            body {
                background-color: #fcf8ff;
            }
            @media (prefers-color-scheme: dark) {
                body {
                    background-color: #131318;
                    color: white;
                }
            }
        </style>
        <App client:only />
    </div>
</Layout>