---
import VueLayout from './App.vue';

const { requiresAuth = false } = Astro.props;
---

<div id="app">
    <noscript>
        <h1>JavaScript is disabled</h1>
        <p>
            This application requires JavaScript to run. Please enable JavaScript to
            continue.
        </p>
    </noscript>
    <style>
        body {
            background-color: #fcf8ff;
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #131318;
                color: white;
            }
        }
    </style>
    <VueLayout client:only requiresAuth={requiresAuth}>
        <slot />
    </VueLayout>
</div>